.scrollmenu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
}

.scrollmenu > * {
  flex: 0 0 auto;
  width: 150px;
  height: 225px;
  background-color: #CCCCCC;
  /* background: linear-gradient(to bottom right,#FFDC00,#DDDDDD,#39CCCC); */
}

.noscrollmenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.noscrollmenu > * {
  flex: 0 0 auto;
  width: 150px;
  height: 225px;
  background-color: #CCCCCC;
}